<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - GymManager</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a class="brand" asp-controller="Home" asp-action="Index">GymManager</a>
            <a asp-controller="Memberships" asp-action="Index">Karnety</a>
        </div>
        <div class="nav-right">
            @if (User.Identity.IsAuthenticated)
            {
                <span>@User.Identity.Name</span>
                <a asp-area="Identity" asp-page="/Account/Logout">Wyloguj</a>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
            }
        </div>
    </nav>


    <main class="container">
        @RenderBody()
    </main>
</body>
</html>