@model GymManager.Models.Membership
@{
    ViewData["Title"] = "Dodaj karnet";
}

<h1>Dodaj karnet</h1>

<form asp-action="Create" class="form">
    <label>Nazwa</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>


    <label>Cena</label>
    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>


    <label>Dni</label>
    <input asp-for="DurationInDays" />
    <span asp-validation-for="DurationInDays"></span>


    <button type="submit" class="btn">Zapisz</button>
</form>