@{
    ViewData["Title"] = "Strona główna";
}


<div class="hero">
    <h1>GymManager</h1>
    <p>Zarządzaj siłownią w prosty i nowoczesny sposób</p>


    @if (!User.Identity.IsAuthenticated)
    {
        <div class="hero-buttons">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
            <a class="btn btn-outline" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
        </div>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="Memberships" asp-action="Index">Przejdź do aplikacji</a>
    }
</div>